Django==5.1.8

django-tailwind==4.0.1
sqlparse==0.5.3
django-browser-reload==1.18.0

sqlparse==0.5.3

PyJWT==2.10.1

django-phonenumber-field==8.1.0

django-ratelimit==4.1.0

pytz==2025.2

dj-database-url==2.3.0

google-cloud-storage==3.1.0

python-dotenv==1.1.0

django-cleanup==9.0.0
psycopg2-binary==2.9.10
sqlparse==0.5.3

django-cors-headers==4.7.0
djangorestframework-simplejwt==5.5.0 # for authentication

whitenoise==6.9.0

pillow==11.2.1

packaging==25.0
typing-extensions==4.13.2

gunicorn==23.0.0

phonenumbers==9.0.4

django-daisy==1.0.23