{% comment %} {% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% block title %}{{ page.title }} | {% endblock title %}
{% block description %}{{ page.intro }}{% endblock description %}

{% block content %}
<div class="flex flex-col h-full w-full lg:px-[30%] md:px-[10%] place-items-center p-4">
    <div class="text-4xl max-sm:text-3xl mt-6 font-semibold leading-snug w-full">
        <h1 class="text-4xl max-sm:text-3xl font-semibold leading-snug w-full">{{ page.title }}</h1>
    </div>
    {% if page.thumbnail %}
        <div class="my-4">
            <img src="{{ page.thumbnail.url }}" alt="{{ page.title }}">
        </div>
    {% endif %}
    <div class="mt-6 w-full text-lg text-justify leading-relaxed" id="editor">
        {{ page.body|richtext }}
    </div>
    <div class="text-sm text-gray-500 text-right mt-4">
        {{ page.date }}
    </div>
    <div class="m-2 p-2 min-w-[30px] min-h-[80px] flex lg:flex-col lg:fixed place-content-center justify-around mt-5 md:top-[10%] md:text-2xl max-sm:text-xl lg:right-[10%] max-sm:rounded-full">
        <div class="m-2 cursor-pointer social-share-link" id="copy-link" aria-label="copy link">
            <i class="bi bi-share"></i>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    const copy_link = document.getElementById("copy-link")
    copy_link.onclick = () => {
        navigator.clipboard.writeText(window.location.href).then(function() {
            alert("Link copied");
        }, function(err) {
            alert("Error copying link");
        })
    }
</script>
{% endblock scripts %} {% endcomment %}
